    <div style="text-align:center;  margin-top: 2rem;">
        <div>
        <h1 style="font-family: 'Fredoka One', cursive;">MJUPLEX</h1>
        </div>
        <div>
            {% if not user.is_authenticated %}
<!--            유저가 로그인이 되어있지 않다면-->
            <a href="{% url 'accountapp:login' %}?next={{ request.path }}">
                <span>로그인</span>
            </a>
            <a href="{% url 'accountapp:create' %}">
                <span>회원가입</span>
            </a>
            {% else %}
<!--            유저가 로그인이 되어있다면-->
            <a href="{% url 'accountapp:detail' pk=user.pk %}">
                <span>Profile</span>
            </a>
            <a href="{% url 'accountapp:logout' %}?next={{ request.path }}">
                <span>로그아웃</span>
            </a>
            {% endif %}

<!--            <span>nav3</span>-->
<!--            <span>nav4</span>-->
        </div>
    </div>