{% extends 'base.html' %}
{% load bootstrap4 %}

{% block content %}

    <div style="text-align: center; max-width: 500px; margin: 4rem auto;">
        <div class="mb-4">
            <h4>Update Profile</h4>
        </div>
      <form action="{% url 'profileapp:update' pk=target_profile.pk %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
<!--        {% bootstrap_form form %}-->
          {% bootstrap_field form.image %}
          {% bootstrap_field form.nickname %}
          {% bootstrap_field form.email %}
          {% bootstrap_field form.dept %}
          {% bootstrap_field form.message %}
          <h6 style="color: #000000;">우편번호</h6>

<!--          {% bootstrap_field form.zonecode %}-->
            {{ form.zonecode.errors }}
            <input name = "zonecode"   class="btn btn-outline-secondary col-7.6 mt-3"   type="text" id="sample4_postcode" placeholder="우편번호">
            <input type="button" class = "btn btn-dark rounded-pill col-4 mt-3" onclick="sample4_execDaumPostcode()" value="우편번호 찾기">

<!--            <input type="text"  id="sample4_roadAddress" placeholder="도로명주소">-->
<!--            <input type="text"  id="sample4_jibunAddress" placeholder="지번주소">-->
<!--            <span id="guide" style="color:#999;display:none"></span>-->
<!--            <input type="text" id="sample4_detailAddress" placeholder="상세주소">-->
<!--            <input type="text" id="sample4_extraAddress" placeholder="참고항목">-->



            <input type="submit"  class = "btn btn-dark rounded-pill col-6 mt-3 ">

      </form>

    </div>


        <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
        <script>
            function sample4_execDaumPostcode() {
                new daum.Postcode({
                    oncomplete: function(data) {
                        // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.
                        // 우편번호와 주소 정보를 해당 필드에 넣는다.
                        document.getElementById('sample4_postcode').value = data.zonecode;
                    }
                }).open();
            }
        </script>

{% endblock %}